/* Remover a scrollbar */
body::-webkit-scrollbar {
  width: 0;
}

#header-logo {
  width: 400px;
  height: 100px;
}

/* Ajustar os botões do menu superior */
.fa-solid {
  font-size: 30px;
}

/* Componentes do modal de criação de tarefas */
.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  border-radius: 8rem;
  padding: 6px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

.header-btn:hover {
  transform: scale(1.2);
}

#create-task {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  border: none;
  padding: 3rem;
  border-radius: 1rem;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(17.7px);
  -webkit-backdrop-filter: blur(17.7px);
  border: 1px solid rgba(255, 255, 255, 1);
}

#create-task[open] {
  -webkit-animation: show 0.6s ease normal;
}

@-webkit-keyframes show {
  from {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Opacidade do fundo quando o modal estiver ativo */
#create-task::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Remove a scrollbar do modal */
#create-task::-webkit-scrollbar {
  width: 0;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 1rem;
}

.modal-tittle {
  font-size: 3rem;
}

.modal-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}

.modal-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.3rem;
}

#modal-set-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  outline: none;
  background-color: transparent;
}

.modal-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.3rem;
}

#modal-set-tag {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  outline: none;
  background-color: transparent;
}

.divider {
  margin: 0.5rem 6rem;
}

.divider-line {
    margin: 0.5rem 6rem;
    width: 80%;
}

.modal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem;
}

#modal-set-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  width: 60%;
  height: 20%;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  outline: none;
  resize: none;
  background-color: transparent;
}

#modal-btn-create-task {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2.5rem;
  padding: 12px;
  border: none;
  border-radius: 10rem;
  outline: none;
  transition: 0.3s;
  background-color: black;
}

#modal-btn-create-task:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#modal-btn-create-task .fa-solid {
  color: white;
}

#modal-set-text::-webkit-scrollbar {
  width: 0;
}

/* Modal de edição de notas */
#edit-task {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  border: none;
  padding: 3rem;
  border-radius: 1rem;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(17.7px);
  -webkit-backdrop-filter: blur(17.7px);
  border: 1px solid rgba(255, 255, 255, 1);
}

#edit-task[open] {
  -webkit-animation: show 0.6s ease normal;
}

@-webkit-keyframes show {
  from {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Opacidade do fundo quando o modal estiver ativo */
#edit-task::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Remove a scrollbar do modal */
#edit-task::-webkit-scrollbar {
  width: 0;
}

#modal-edit-date {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  outline: none;
  background-color: transparent;
}

#modal-edit-tag {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  outline: none;
  background-color: transparent;
}

#textarea-edit-task {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
  width: 60%;
  height: 20%;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  outline: none;
  resize: none;
  background-color: transparent;
}

#modal-btn-edit-task {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2.5rem;
  padding: 12px;
  border: none;
  border-radius: 10rem;
  outline: none;
  transition: 0.3s;
  background-color: black;
}

#modal-btn-edit-task:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#modal-btn-edit-task .fa-solid {
  color: white;
}

#textarea-edit-task::-webkit-scrollbar {
  width: 0;
}

#profile-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  border: none;
  border-radius: 1rem;
  outline: none;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(17.7px);
  -webkit-backdrop-filter: blur(17.7px);
  border: 1px solid rgba(255, 255, 255, 1);
}

#profile-modal[open] {
  -webkit-animation: show 0.6s ease normal;
}

#profile-modal::-webkit-scrollbar {
  width: 0;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.profile-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}

#input-profile {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  width: 40%;
  height: 20%;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  outline: none;
  resize: none;
  background-color: transparent;
}

.add-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

#create-profile {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

#create-profile:hover {
  transform: scale(1.1);
}

.profile-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

.profile-name-row {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.profile-list {
  width: 50%;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  flex-direction: column;
  gap: 30px;
}

.delete-profile,
.enter-profile {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.profile-icon:hover {
  transform: scale(1.1);
}

.fa-right-to-bracket:hover {
  color: blue;
}

.fa-trash:hover {
  color: red;
}

.fa-right-to-bracket,
.fa-trash {
  font-size: 24px;
}
