.casa {
  background-color: #ffddc1; /* Pêssego Claro */
  padding: 5px;
  border-radius: 30px;
}

.trabalho {
  background-color: #d4e157; /* Verde Lima Claro */
  padding: 5px;
  border-radius: 30px;
}

.meta {
  background-color: #ffecb3; /* Amarelo Claro */
  padding: 5px;
  border-radius: 30px;
}

.lembrete {
  background-color: #b3e5fc; /* Azul Bebê */
  padding: 5px;
  border-radius: 30px;
}

.financa {
  background-color: #c8e6c9; /* Verde Menta Claro */
  padding: 5px;
  border-radius: 30px;
}

.projeto {
  background-color: #ffe0b2; /* Laranja Claro */
  padding: 5px;
  border-radius: 30px;
}

.tarefa {
  background-color: #f8bbd0; /* Rosa Claro */
  padding: 5px;
  border-radius: 30px;
}

.ideia {
  background-color: #e1bee7; /* Lavanda */
  padding: 5px;
  border-radius: 30px;
}

.leitura {
  background-color: #d1c4e9; /* Lavanda Suave */
  padding: 5px;
  border-radius: 30px;
}

.hobbie {
  background-color: #ffcdd2; /* Rosa Pastel */
  padding: 5px;
  border-radius: 30px;
}


.compra {
  background-color: #f0f4c3; /* Verde Lima Suave */
  padding: 5px;
  border-radius: 30px;
}

.festa {
  background-color: #ffccbc; /* Salmão Claro */
  padding: 5px;
  border-radius: 30px;
}
